*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI',SegoeUI,'Malgun Gothic',Gulim,"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 320px;
    color: #000;
    background-color: #fff;
}
ul li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #262626;
    display: inherit;
}
#wrapper{ padding: 0 5%; }
/* header */
#ms_logo{
    float: left;
}
#ms_logo img{
    width: 108px;
    height: 23px;
    padding: 16px 6px 14px 10px;
}
#show-pipe::before {
    content: "|";
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin-left: -13px;
    padding-left: 30px;
    position: absolute;
    top: 12px;
}
#show-pipe{
    display: inline-block;
}
#show-pipe span{
    padding-left: 40px;
    font-weight: 600;
    font-size: 18px;

}
#nav1 {
    display: inline-block;
    /* border:1px black solid; */
}
/* #nav-menu-1{
    display: inline-block;
    padding: 20px;
    font-size: 13px;
} */
.nav-menu-item{
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    font-size: 13px;
    color: #333;
    position: relative;
    /* border:1px solid black; */
}

.nav-menu-item:before{
    content: '';
    position: absolute;
    left: 8px;
    bottom: 5px;
    width: calc(100% - 17px);
    height: 2px;
    background-color: black;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), 
    -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nav-list:hover .nav-menu-item:before,
.nav-list:focus:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* #nav-menu-1 li{
    padding-right: 20px;
} */
#nav2{
    float: right;
    padding: 10px 0 10px 0;
    font-size: 13px;
}
#nav2 img{
    vertical-align: middle;
    /* border:1px black solid; */
}
#ms-click img{
    width: 10px;
    height: 10px;
}
#header{
    position: relative;
}

/*서브메뉴 패널*/
#panel{
    display: block;
    padding: 0 5%;
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
}
ul, li, a{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
#panel-wrap{
    border: 1px solid rgba(128, 128, 128, .3);
    display: block;
    margin: 0 auto;
    width: 820px;
    background: #f2f2f2;
    width: 80%;
    padding-left: 20px;
    padding-top: 10px;
}
.nav-menu > h2, ul{
    font-size: 13px;
}
.nav-menu > h2{
    padding-bottom: 20px;
}
.nav-menu ul{
    padding-bottom: 20px;
}
.nav-menu{
    width: 16%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 0;
}
.nav-menu ul{
    font-weight: 300;
}
.nav-menu li{
    padding-bottom: 10px;
    font-weight: 300;
}
.nav-menu li a{
    text-decoration:none;
    color: black;
}
.nav-menu li a:hover{
    text-decoration: underline grey;
}
.morebtn {
    display: inline;
    background-color: #e6e6e6;
}
.morebtn p{
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: center;     
    font-weight: 400;
    font-size: 13px;
    color: rgba(0,0,0,0.8);
    padding:10px 0;
    margin-top: 30px;
}

/* main */
#primary-01{
    position: relative;
}
/* primary-01  */
#primary-01{
    width: 100%;
    position:relative; /*그림 위 글씨 - 선행*/
    /* border: 1px slateblue solid; */
}
#primary-01 img, #primary-04 img{
    width: 100%;
    height: 100%;
    
}
#p1-mess{ 
    width: 30%;
    overflow: hidden;
    margin-left: 5%;
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* border: 1px khaki solid; */
}
#p1-mess > div{
    width: 500px;
}
.p1-heading{
    /* font-size: 46px; */
    line-height: 56px;
    padding: 37px 0 3px;
    letter-spacing: -.01em;
}
.p1-paragraph{
    /* font-size: 15px; */
    line-height: 20px;
    overflow: hidden;
    box-sizing: content-box;
    margin-top: 12px;
}
.p1-button{
    padding: 20px 2px 0;
}
.p1-button a{
    position: absolute; /*그림 위 글씨 */
    /* font-size: 15px; */
    color: #fff;
    background: #000;
    padding: 10px 20px 6px 22px;
    bottom: 35%;
    text-decoration: none;
}
/* primary-02 를 중간으로 배치하려면
primary-02에서 text-align:center
.p2-mess에서 display: inline-block과 버티칼얼라인 탑이 핵심임--- */
#primary-02{
    padding: 5%;
    text-align: center;
    border : 1px solid purple;
}
#primary-02 img{
    width: 40px;
    height: 40px;
    padding-bottom: 2%;
}
.p2-mess{
    padding: 22px 5px 40px 5px;
    display: inline-block;
    width: 115px;
    height: 85px;
    margin: 0 25px;
    vertical-align: top;
    /* border: 1px salmon solid; */
}
.p2-mess a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
/* primary-03 */
#primary-03{
    display: inline-block;
}
#primary-03 img{
    width: 100%;
    height: auto;
}
.p3-mess{
    width: 25%;
    float: left;
    box-sizing: border-box;
    /* display: inline-block; */
    /* vertical-align: top; */
}  
.p3-mess > div{
    margin: 0 15px;
    /* border: 1px purple solid; */
}
.p3-mess h3{
    line-height: 24px;
    padding-top: 1px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}
.p3-mess p{
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
    font-size: 15px;
}
.p3-mess a{
    padding: 10px 3px 7px 0;
    text-decoration: none;
    color: rgb(0, 103, 184);     
    float: left;
}

/* primary-04 */
#primary-04{
    clear:both;
    width: 100%;
    position: relative;
    padding-top: 55px;

}
#p4-mess{
    width: 88%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* border:1px palevioletred solid; */
}
#p4-mess > div{
    /* border:1px green solid; */
    width: 500px
}
.p4-heading{
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px;
    letter-spacing: -.01em;
}
.p4-paragraph{
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    box-sizing: content-box;
    margin-top: 12px;
}
.p4-button{
    padding: 20px 2px 0;
}
.p4-button a{
    position: absolute;
    font-size: 15px;
    padding: 10px 20px 6px 22px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
/* primary-05 */
/*p5-mess 밑에 div 없이 p5-mess로만 묶을 땐 
위에 공간이 없는데,
div를 만드니까 윗부분 공안이 생기는 이유는 뭐지?
(보더 속성 켜서 확인해보기.)
>>>>이건 > div 냐, 그냥 div냐의 차이 */
#primary-05 > div{
    /* border:1px solid blue; */
    padding: 48px 0 0;
}
#primary-05 img{
    left: 0;
    width: 100%;
    height: auto;
}
.p5-mess{
    width: 25%;
    box-sizing: border-box;
    display: block;
    float: left;
}
.p5-mess > div{
    margin: 0 15px;
}
.p5-mess h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}
.p5-mess p{
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
    font-size: 15px;
}
.p5-mess a{
    padding: 10px 3px 7px 0;
    text-decoration: none;
    color: rgb(0, 103, 184);
    float: left;
}
/* snsBar */
#primary-06 {
    clear: both;
    padding-top: 40px;
    width: 100%;    
}
.sns-bar{
    padding-left: 10px;
    display: block;
    margin: 48px 0 0 0;
}
.sns-bar p {
    display: inline-block;
    float: left;
    padding-top: 6px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.6); 
}
.sns-bar img{
    width: 28px;
    height: 28px;
    padding-right: 10px;
}
        /* primary-06 
        #primary-06 li{
            font-size: 15px;
            color: rgba(0,0,0,.6);
            padding-right: 20px;
            display: inline;
            vertical-align: middle;
        }
        #primary-06 img{
            display: inline-block;
            width: 28px;
            height: 28px;
        }
        */

/* footer */
#footer{
    width: 100%;
    color: #616161;
    background: #f2f2f2;
    margin-top: 48px;
}
#wrap{
    padding: 0 5%;
}
.c-menu{
    padding: 0 12px 0 0;
    width: 30%;
}
.f-menu{
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.f-menu-group-left{
    float: left;
    width: 50%;
}
.c-menu{
    float: left;
}
/* .f-menu-group-right{
    float:right;
} */
.c-menu{
    float: left;
}
.f-menu-heading {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}
.f-menu-context li{
    display: block;
    padding: 8px 0;
    font-size: 12.5px;
}

#base{
    margin: 0 auto;
    padding:30px 0px 16px;
    display: inline-box;
    /* border: 1px solid red; */
}
#base div{
    display: inline-block;
}
.base-right{
    float: right;
    margin-top: 15px;
    /* border: 1px solid blue; */
}
.base-right li{
    padding-right: 15px;
}
.lang{
    display: inline-block;
}
.lang p{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    /* border: 1px solid blue; */
}
.lang img{
    padding-top: 5px;
    padding-right: 10px;
}





.blind {
    visibility: hidden;
    text-indent: -10000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
}




.blind {
    visibility: hidden;
    text-indent: -10000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
}
.smallbtn::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    position: absolute;
    font-size: 8px;
    display: inline-block;
    color: currentColor;
    font-weight: 600;
    padding-top: 7px;
    padding-left: 3px;
}


