*{
    padding:0; margin:0; box-sizing: border-box; font-size: 13px; color: #262626;}
body{
    font-family: 'Segoe UI',SegoeUI,'Malgun Gothic',Gulim,"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 320px;
    color: #000;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #262626;
}
#wrapper{ padding: 0 5%}
/* header */
#header{
    position: relative;
}
nav#gnb{
    overflow: hidden;
}
.toggle_btn{display: none;}
h1.ms_logo{
    float: left;
    display: block;
    padding-left: 14px;
    padding-right: 17px;
}
h1.ms_logo a{ 
    display:block;
    width: 108px; 
    line-height: 50px;
}
h1.ms_logo img{
    width: 100%;
    vertical-align: middle;
}
.nav1{
    float: left;
    line-height: 55px;
}
.nav1 > ul > li {
    display: inline-block;
    padding: 0 10px;
}
.nav1 > ul > li > a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}
.nav2{
    float: right;
    line-height: 45px;
}
.nav2 img{
    vertical-align: middle;
}
.nav2 > ul > li {
    display: inline-block;   
}
li.nav2_menu_list{
    /* position: relative; */
    /* padding: 0 10px; */
    padding:0 5px;
    margin-right: 20px;
    margin-top: 5px;
}
li.nav2_menu_list.on{
    border: 1px dashed rgb(67, 67, 67);
}
/* 서브패널 */
#panel{display: none;}
#panel.on{
    background-color: #f2f2f2;
    position: absolute; 
    /*헤더에 렐러티브줌.. 
    1. 헤더 기준으로 최소한의 너비값 주고싶었으나 안됨.
    2. li.nav2_menu_list에다가 렐러티브해서 배치하고 싶었으나 아래와 같은 이유로 안됨.
    */
    display: block;
    top: 55px;
    right: 30px;
    width: 95%;
    /* margin-left: -900px;  nav2 > li.nav2_menu_list에 렐러티브 주면 이걸 줘야하는데 뒤로 빠져버림..ㅠㅠ*/
    border: 1px solid rgb(211, 211, 211);
    z-index: 99999;
}
ul#panel_menu{
    font-size: 0;
}
ul#panel_menu > li{
    display: inline-block;
    width: 16.66%;
    padding-bottom: 10px;
    padding-left: 20px;
    vertical-align: top;
}
.more_info{
    background-color: #e6e6e6;
    text-align: center;
    border-bottom: 2px solid black;
}
.more_btn{
    display: block;
    width: 270px;
    line-height: 38px;
    margin: 0 auto;
}










/******************* section#bussiness_user_menu .primary_01 *******************/
.bx-wrapper{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.bx-wrapper img{
    position: relative;
}
.txtBox{
    position: absolute;
    /* top: 50%;
    left: 0;
    right:0;
    bottom: 0; */
}
.txtBox.img1txt{
    left: 50%;
    top: 50%;
    right:0;
    bottom: 0;
    text-align: center;
    transform: translateX(-50%);
}
.txtBox.img1txt > *{
    color: white;
}
.txtBox.img1txt h2{
    font-size: 46px;
    line-height: 28px;
    padding: 36px 0 4px;
    max-height: 56px;
    font-weight: 600;
}
.txtBox.img1txt p{
    margin-top: 30px;
    font-size: 15px;
}
.txtBox.img1txt a{
    position: absolute;
    bottom: 80px; /*60에서 수정함.*/
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.txtBox.img2txt{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
}
.txtBox.img2txt h2{
    font-size: 46px;
    line-height: 28px;
    padding: 10px 0 4px;
    max-height: 56px;
    font-weight: 600;
}
.txtBox.img2txt p{
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 0 4px;
    font-size: 15px;
}
.txtBox.img2txt a{
    position: absolute;
    left: 0;
    bottom: -50px;
    padding: 10px 20px;
    background-color:  #fff;
    font-size: 15px;
    font-weight: 600;
}

.bx-wrapper .bx-pager {
    position: absolute;
    bottom: 8px;
    width: 100%;
}

/******************* section#personal_shop_menu .primary_02 *******************/
.primary_02 { text-align: center; }
.p2_mess{
    padding: 22px 5px 40px 5px;
    display: inline-block;
    width: 120px;
    height: auto;
    margin: 0 25px;
    vertical-align: top;
}
.p2_mess a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.p2_mess img{
    width: 40px;
    height: 40px;
    padding-bottom: 2%;
}

/******************* section#ms_intro_menu .primary_03 *******************/
.primary_03{ margin: 40px 0;}
.p3_mess { font-size: 0;}
.p3_mess li { display: inline-block; width: 25%; vertical-align: top; padding: 0 12px;}
.p3_mess li img{ width: 100%; }
.p3_mess h3{ font-size: 20px; line-height: 24px; font-weight: 600; opacity: .95; padding-top: 1px; padding-bottom: 2px; margin-top: 37px;}
.p3_mess p{ text-align: left; padding-top: 1px; padding-bottom: 10px; font-size: 15px; }
.p3_mess a, .p3_mess span{ font-size: 15px; font-weight: 600; padding: 10px 3px 7px 0; color: rgb(0, 103, 184); }

/******************* section#product_xbox .primary_04 *******************/
.primary_04{position: relative; padding: 0 12px} 
.p4_contents img{width: 100%;}
.p4_head { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 88%;margin: 0 auto;} 
.p4_head > div.p4_head_txt{position: absolute; top: calc(50%); transform: translateY(-50%); width: 500px;}
.p4_heading{ font-size: 46px; line-height: 56px; padding: 37px 0 3px; letter-spacing: -.01em;}
.p4_paragraph{ font-size: 15px; line-height: 20px; box-sizing: content-box; margin-top: 12px;}
.p4_button { margin-top: 12px; }
.p4_button a{ display: inline-block; font-size: 15px; padding: 10px 20px 6px 22px; background-color: #000; color: #fff; text-decoration: none; }

/******************* section#bussiness_user_menu .primary_05 *******************/
.primary_05{ padding: 48px 0 0; overflow: hidden;}
.p5_head > h2  {font-size: 24px; font-weight: 700; padding-left: 12px; padding-bottom: 15px;}
.p5_mess li{float: left; width: 25%; vertical-align: top; padding: 0 12px;}
.p5_mess li img{width: 100%; }
.p5_mess h3{ font-size: 20px; line-height: 24px; font-weight: 600; opacity: .95; padding-top: 1px; padding-bottom: 2px; margin-top: 37px;}
.p5_mess p{ text-align: left; padding-top: 1px; padding-bottom: 10px; font-size: 15px; }
.p5_mess a{ font-size: 15px; font-weight: 600; padding: 10px 3px 7px 0; color: rgb(0, 103, 184); }

/******************* section#sns_info .primary_06 *******************/
.primary_06{ clear: both; padding: 40px 0; width: 100%; }
.sns_bar span{ line-height: 30px; float: left; font-size: 15px; color: rgba(0,0,0,.6); padding-right: 10px;}
.sns_bar > ul {display: inline-block;}
.sns_bar > ul > li{display: inline-block; padding: 0 6px;}
.sns_bar img{ width: 28px; height: 28px;}

/******************* footer *******************/
#footer{background-color: #f2f2f2;}
#footer a {font-size: 11px; color: #616161;}
#footer > .f_wrapper{padding: 0 5%; overflow: hidden;}
nav.f_menu {padding-top: 36px;}
nav.f_menu p {font-size: 15px; padding-bottom: 10px;}
nav.f_menu > ul.f_menu_group {display: block; font-size: 0;}
nav.f_menu > ul.f_menu_group > li{display: inline-block; vertical-align: top; width: 16.6%;}
ul.txtBox_context > li {padding: 8px 0;}


nav.f_base{display: block; overflow: hidden; padding: 30px 0;}
.f_lang {float: left;}
.f_lang img{display: inline-block; vertical-align: top;}
.f_lang span{display: inline-block; line-height:30px; font-size: 11px; color: #616161;}
.f_copyright {float: right; line-height: 30px;}
.f_copyright > ul > li {display: inline-block; padding: 0 10px;}




@media screen and (max-width:700px){
    /******************* section#product_xbox .primary_04 *******************/
    .primary_04{padding: 0;} 
    .p4_contents{width: 100%;}
    .p4_contents img{width: 100%; overflow: hidden;}
    .p4_head {  position: relative; display: block;  width: 100%; height: 300px;margin: 0 auto; background-color: #e6e6e66d;} 
    .p4_head > div.p4_head_txt{ position: absolute; top:130px; width: 100%; display: block; text-align: center; margin: 0;}
    .p4_heading{ font-size: 25px; line-height: 40px;}
    .p4_paragraph{ font-size: 15px;  box-sizing: content-box; margin-top: 12px;}
    .p4_button { margin-top: 12px; }
    .p4_button a{ display: inline-block; font-size: 15px; padding: 10px 20px 6px 22px; background-color: #000; color: #fff; text-decoration: none; }
    .txtBox.img1txt h2,.txtBox.img2txt h2{
        font-size: 24px;
    }
    .txtBox{
        position: relative;
        width: 100%;
        height: 311px;
        display: block;
    }
    .txtBox.img1txt{
        padding-top: 40px;
        background-color: rgb(72, 72, 72);
    }
    .txtBox.img1txt > *{
        color: white
    }
    .txtBox.img1txt a{
        bottom: 80px;
    }    
    .txtBox.img2txt{
        top: 0;
        transform: translateY(0);
        left:0;
        text-align: center;
        padding-top: 40px;
    }
    .txtBox.img2txt h2{
        padding: 36px 0 4px;
    }
    .txtBox.img2txt a{
        color: #fff;
        background-color: black;
        bottom: 35%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width:820px){ /*890이었는데 자세히버튼 만들려고 850으로 수정함.*/
    .txtBox.img1txt h2,.txtBox.img2txt h2{
        font-size: 24px;
    }
    .txtBox{
        position: relative;
        width: 100%;
        height: 311px;
        display: block;
    }
    .txtBox.img1txt{
        padding-top: 40px;
        background-color: rgb(72, 72, 72);
    }
    .txtBox.img1txt > *{
        color: white
    }
    .txtBox.img1txt a{
        bottom: 80px;
    }    
    .txtBox.img2txt{
        top: 0;
        transform: translateY(0);
        left:0;
        text-align: center;
        padding-top: 40px;
    }
    .txtBox.img2txt h2{
        padding: 36px 0 4px;
    }
    .txtBox.img2txt a{
        color: #fff;
        background-color: black;
        bottom: 35%;
        left: 50%;
        transform: translateX(-50%);
    }

   

    /* header */
    #wrapper{ padding: 0;}
    .toggle_btn{display: block;}
    h1.ms_logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    h1.ms_logo a{ 
        line-height: 45px;
    }
    .nav1,
    li.nav2_menu_list a,
    li.nav2_menu_list_h span{
        display: none;
    }
    .nav2 li.search_btn{
        position: absolute;
        left: 40px;
    }
    .toggle_btn {
        width: 48px;
        height: 48px;
        float: left;
        padding: 15px 0px 5px 5px;
    }
    .toggle_btn button{
        border: none;
        background-color: #fff;
    }
    .toggle_btn span.burger{
        display: block; 
        width: 20px; 
        height: 1px; 
        margin: 4px; 
        border: 1px solid black;
        border-radius: 3px;
        box-sizing: border;
    }
    .toggle_btn #toggle_menu{
        background-color: #f2f2f2;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid black;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99999;
        display: none;
    }
    .toggle_btn #toggle_menu.on{
        display: block;
    }
    .toggle_btn #toggle_menu ul li{
        padding: 13px 0 13px 15px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 13px;
    }
    .toggle_btn #toggle_menu ul .toggle_icon{
        position: relative;
        right: 0;
        float: right;
        margin-right: 20px;
    }
    .toggle_btn #toggle_menu ul .toggle_icon:before{
        content:'';
        display: block;
        background-image: url('../images_ms/down_icon.png');
        width: 11px;
        height: 11px;
        background-size: contain;
    }
    /******************* section#ms_intro_menu .primary_03 *******************/
    .primary_03{ margin: 40px 0; padding: 10px;}
    .p3_mess li { display: inline-block; width: 50%; vertical-align: top;}
    .p3_mess li:first-child{padding: 10px;}
    .p3_mess li + li{ padding: 10px;}

    /******************* section#bussiness_user_menu .primary_05 *******************/
    .primary_05{ padding: 48px 0 0;}
    .p5_mess li{width: 50%; padding-bottom: 50px;}
    .p5_mess li img{width: 100%;}
    /* primary05는 내가 다시 짜고, primary02는 마이크로소프트꺼 보고 참고함.
    반응형할땐 내가 짠게 훨씬 깔끔한 듯... 배치 변화줄 떄 꺠짐 없음. 참고하기. */

    /******************* section#sns_info .primary_06 *******************/
    .primary_06{ clear: both; padding: 40px 0; width: 100%; }
    .sns_bar span{ line-height: 30px; float: left; font-size: 15px; color: rgba(0,0,0,.6); padding-right: 10px;}
    .sns_bar > ul {display: inline-block;}
    .sns_bar > ul > li{display: inline-block; padding: 0 6px;}
    .sns_bar img{ width: 28px; height: 28px;}

    /******************* footer *******************/ 
    nav.f_menu > ul.f_menu_group > li{ width: 33.3%; padding-bottom: 50px;}

}
/* 895이상 1000이하에서 메인1 슬라이드 글씨 부분*/
@media screen and (min-width:895px) and (max-width: 1100px){
    .txtBox.img1txt{
        width: 40%;
        height: 50%;
    }
    .txtBox.img1txt h2{
        padding: 0 0 0 4px;
    }
    .txtBox.img1txt p{
        padding: 0 0 0 4px;
        margin-top: 8px;
    }
    .txtBox.img2txt{
        width: 40%;
    } 
    .txtBox.img1txt h2,.txtBox.img2txt h2{
        font-size: 24px;
    }
    .txtBox.img1txt a,.txtBox.img2txt a{
        padding: 8px 12px;
    }
}
/* 895이상 -> 자세히 버튼 추가하려고 780으로 변경함 1399이하*/
@media screen and (min-width:820px) and (max-width: 1299px){
    /* header */
    .nav2_menu_list_h span{
        display: none;
    }
    li.nav2_menu_list {
        /* padding: 0 10px; */
        margin-right: 0;
        margin-top: 5px;
    }
    .txtBox.img1txt{
        width: 100%;
        height: 300px;
    }
    .txtBox.img1txt h2{
        padding: 0 0 0 4px;
    }
    .txtBox.img1txt p{
        margin-top: 30px;
        font-size: 15px;
    }
    
    .txtBox.img1txt a{
        bottom : 50%;
    }
    .txtBox.img2txt{
        width: 40%;
    } 
    .txtBox.img1txt h2,.txtBox.img2txt h2{
        font-size: 24px;
    }
}




ul.dropoff{
    display: none;
}
ul.dropoff.dropon{
    display: block;
    font-size: 13px;
}

.nav1 > ul > li.hide{
    display: none;
}
.nav1 > ul > li.morebtn{
    padding-right: 0;
}