*{ padding: 0; margin: 0; box-sizing: border-box; color: #cccccc;}
/* html, body{ padding: 0; margin: 0;} */
body {background-image: url('../images/background-stars-desktop.webp');}
a{ text-decoration: none;}
ul li{ list-style-type: none;}
h1, h2, h3{color: white;}
/* header{position: fixed; top: 0; left: 0; right: 0; z-index: 10;} */
#head_nav_container{ position: fixed; top: 0; max-height: 181px; width:100%; z-index: 11;}
#nav_bar{ position: relative; top: 0; height: 134px}
#nav_wrapper{ max-width: 1400px; height: inherit; margin:0 auto; padding: 20px 0;}    
#nav_bg{ position: absolute; top: 0; right: 0; left: 0; bottom:0; height: 134px; background: url('../images/navigation_stars_bg.jpg') no-repeat center; z-index: -1;}
.nav_header_fade{ position: absolute; opacity:1; height: 134px; width: 200px;}
.nav_header_fade.right{ right: 0; transform: scaleX(-1);/*좌우뒤집기*/background-image: linear-gradient(to right,rgba(0,0,0,0.9) 15%, rgba(0,0,0,0.8) 27%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.15) 75%, transparent 100%); }
.nav_header_fade.left{ left: 0; background-image: linear-gradient(to right, rgba(0,0,0,0.9) 15%, rgba(0,0,0,0.8) 27%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.15) 75%, transparent 100%); }

#nav_sw_logo{ position: relative; top: 0; width: 100%; height: 100%; z-index: -1;}
#nav_sw_logo a.logo_img{ display: block; max-width: 203px; height: 100%; margin:0 auto; text-align: center;background: url('../images/sw_logo_stacked.png') no-repeat center; background-size: contain;}

#nav_social_content{ position: absolute; top: 10px; display: block; float: left; height: 35px; line-height: 35px; padding-left: 20px;}
ul#social_links{ display: inline-block; border-right: 1px solid #7a7a7a; }
ul#social_links > li{ display: inline-block; padding-right: 10px;}
ul#social_links > li:last-child{padding-right: 20px;}
ul#social_links > li > a.soc_link{ line-height: 20px;}
ul#social_links > li > a.soc_link > span.facebook_icon{ display:block; width: 20px; height: 20px; background: url('../images/icon_facebook.svg') no-repeat center;}
ul#social_links > li > a.soc_link > span.instagram_icon{ display:block; width: 20px; height: 20px; background: url('../images/icon_instagram.svg') no-repeat center;}
ul#social_links > li > a.soc_link > span.tumblr_icon{ display:block; width: 20px; height: 20px; background: url('../images/icon_tumblr.svg') no-repeat center;}
ul#social_links > li > a.soc_link > span.twitter_icon{ display:block; width: 20px; height: 20px; background: url('../images/icon_twitter.svg') no-repeat center;}
ul#social_links > li > a.soc_link > span.youtube_icon{ display:block; width: 20px; height: 20px; background: url('../images/icon_youtube.svg') no-repeat center;}

div.kids_btn{ display: inline-block; padding: 0 10px; }
div.kids_btn > a.soc_link { display: inline-block; width: auto; background-color: #7a7a7a; border-radius: 16px;}
div.kids_btn > a.soc_link > span.kids_icon{ display:block; width: 30px; height: 20px; background: url('../images/icon_kids.svg') no-repeat center; background-color:#7a7a7a; margin: 0 10px;}


#nav_utility{ position: relative; top: -105px; display: block; float: right; text-align: right; padding-right: 20px;}
#nav_serach_container{display: inline-block; width: 248px; border-radius: 4px; background-color: #343434; box-shadow: none; opacity: 0.7; height: 40px;}
form#nav_search_input{ display: block; background-color: transparent; float: left; padding-left: 20px;}
.input_box > input { background-color:transparent; padding: 10px 0; border: none; font-size: 16px; font-weight: 100;}
button#nav_search_icon{ display: block; width: 20px; height: 20px; background-color:transparent; background: url('../images/icon_search.svg') no-repeat center; position: absolute; right: 30px; top: 6px; border: none;}


.logged_out_container {display: inline-block; padding:5px; letter-spacing: 2px; line-height: 1.375rem; text-transform: uppercase; }
.logged_out_container > * {display: inline-block; padding:5px;}
.logged_out_container > p {color: #3d3d3d; font-size: 1em; padding: 0;}
.logged_out_container > div.login, .logged_out_container > div.signup {transition: all ease .8s; color: #7a7a7a; opacity: 1;}
.logged_out_container > div.login:hover, 
.logged_out_container > div.signup:hover{color: #fff; opacity: 1;} 


#nav_content_bar{position: absolute; left:0; right:0; top: 134px; width: 100%; border-top: 1px solid #333;  height: auto; background-color: rgb(0, 0, 0);}
#nav_content{ margin: 0 auto; letter-spacing: 1px; }
ul#section_links { font-size: 0; display: block; max-width:1400px; text-align: center; margin: 0 auto;}
ul#section_links > li{font-size: 16px; width: auto; display: inline-block; line-height: 45px; padding: 4px 32px; border-left: 1px solid #333;}
ul#section_links > li > a:hover{color: #fff;} 
ul#section_links > li:last-child{border-right: 1px solid #333;}






/* main */

#main{
    display: block;
    width: 100%;
    min-height: 500px;
    background-color: #000000;
    background-image: url('../images/background-stars-desktop.webp');
    background-position: center top;
    background-repeat: repeat;
    margin-top: 188px;
    text-align: center;
}
#main_top_line{
    width: 100%; height: 40px; 
    background-color: black; 
    padding-top: 10px; 
    border-top: 1px solid #333;
} 
span.title_txt{ line-height:40px;}
span.title_img img { vertical-align: top; height: 30px;}


/* section1 */
#main_slider{
    width: 100%;
}
.main_slider_box{
    position: relative;
}
li.single_slide_list{
    position: relative;
    text-align: center;
}
.single_slide_bg_img img{
    width: 100%;
    height: auto;
}
.single_slide_bg_txtBox{
    margin: 0 auto;
    position: absolute;
    top: 0;
}
.txtBox_content img{
    width: 100%;
}
.txtBox_content_desc{
    margin-top: 10px;
    font-size: 1.25rem;
    letter-spacing: 0.0125rem;
    line-height: 30px;
}
.txtBox_content_desc *{
    color: #fff;
}
.txtBox_content_btn{
    padding: 20px 0px;
}
.txtBox_content_btn .cbtn_item{
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 15px; 
}
.txtBox_content_btn .cbtn_item a{
    font-size: 20px;
    font-weight: 700; 
    padding: 15px 20px;
    border-radius: 5px;
}

/* ㅠㅡㅠ 이친구들 쓰고싶은데..

.preview_cards{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}
.preview_cards span+span{
    margin-left: 20px;
}
.preview_card{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100%;
} */

.pro_bg{
    overflow: hidden;
}
.pro_bg img{
    display: block;
    width: 100%;
    height: 80px;
}
.pro_txt{
    position: absolute;
    top: 5px;
    text-align: left;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: gray;
}


/* dots */
.slick-dots{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 80px;
}
.slick-dots li::after {
    display: block; color: #c7c7c7; position: absolute; top: 15px; left: 12px;
    width: 180px; z-index: 999; font-size: 15px; text-align: left; font-weight: bold; letter-spacing: 1px;
}
.slick-dots li:nth-child(1)::after {
    content: 'VADER IMMORTAL COMING TO PLAYSTATION VR';
}
.slick-dots li:nth-child(2)::after {
    content: 'STAR WARS: TALES FROM THE GALAXY’S EDGE';
}
.slick-dots li:nth-child(3)::after {
    content: 'STAR WARS EMMY NOMINATIONS';
}
.slick-dots li:nth-child(4)::after {
    content: 'STAR WARS: THE BAD BATCH TO DEBUT IN 2021';
}
.slick-dots li+li{
    margin-left: 20px;
}
.slick-dots li img{
    width: 100%;
} 

.pro_bar{
    position: absolute;
    top: 0;
    height: 4px;
    z-index: 1;
}
.slick-dots li.slick-active .pro_ani{
        animation: progressBar 6s 1;
    }
    @keyframes progressBar{
        0% {width: 0%;}
        100% {width: 100%;}
    }
.preview_card:hover .pro_bar{
    animation-play-state: paused;
}

.slick-dots li.slick-active .pro_bar.bar1{
    background-color: rgb(16, 106, 224);
}
.slick-dots li.slick-active .pro_bar.bar2{
    background-color: rgb(193, 224, 16);
}
.slick-dots li.slick-active .pro_bar.bar3{
    background-color: rgb(16, 220, 224);
}
.slick-dots li.slick-active .pro_bar.bar4{
    background-color: rgb(213, 0, 50);
}

.main_slider_box button{
    background: url('../images/square_arrow.svg') no-repeat center center;
    background-size: 10px;
    width: 35px;
    height: 35px;
    z-index: 10;
    position: absolute;
    top: 42%;
    background-color: rgba(62, 62, 62, 0.338);
    border-radius: 2px;
    border: none;
}
.main_slider_box button.slide_prev{
    left: 40px;
    transform: translate(-50%);
}
.main_slider_box button.slide_next{
    right: 40px;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1) translate(-50%);;
}
.main_slider_box button:hover{
    background-color: rgba(62, 62, 62, 0.808);
}


/* s_list_n 이미지 위치, 변경되는 요소들 */
.s_list_1  .single_slide_bg_txtBox{
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s_list_1 .txtBox_content_btn .cbtn_item:nth-child(1) a{
    background-color: rgb(16, 106, 224);
    border: 1px solid rgb(16, 106, 224);
}
.s_list_1 .txtBox_content_btn .cbtn_item:nth-child(2) a{
    border: 1px solid rgb(255, 255, 255);
}

.s_list_2 .txtBox_content img{
    width: 50%;
}
.s_list_2 .single_slide_bg_txtBox,
.s_list_4 .single_slide_bg_txtBox{
    width: 40%;
    left: 5%;
    top: 15%;
    text-align: left;
}
.s_list_4 .txtBox_content_btn .cbtn_item{
    margin: 15px 15px 15px 0;
}
.s_list_4 .txtBox_content_btn .cbtn_item:nth-child(1) a{
    background-color: rgb(213, 0, 50);
    border-color: rgb(213, 0, 50);
}
.s_list_4 .txtBox_content_btn .cbtn_item:nth-child(2) a{
    border: 1px solid rgb(255, 255, 255);
}




/* section_single layout */
.single{
    position: relative;
    margin-top: 50px;
    padding: 0 10%;
}
.single_img img{
    display: block;
    width: 100%;
}
.single_bg img{
    display: block; 
    /* 이미지는 inline-block속성이므로 block으로 바꿔줘야 하단 여백이 생기지 않음. */
    width: 100%;
}
.single .single_slide_bg_txtBox{
    margin-top: 5%;
    margin-left: 5%;
    width: 24%;
    top: 80px;
}
.single .txtBox_content_desc{
    font-size: 18px;
    text-align: left;
}
.single .txtBox_content_btn{
    text-align: left;
}
.single .txtBox_content_btn a{
    font-size: 18px;
    text-align: left;
}
.single .txtBox_content_btn .cbtn_item{
    margin: 15px 15px 15px 0;
}
.single .txtBox_content_btn .cbtn_item:nth-child(1) a{
    background-color: rgb(158, 69, 0);
    border-color:  rgb(158, 69, 0);
}
.single .txtBox_content_btn .cbtn_item:nth-child(2) a{
    border: 1px solid rgb(255, 255, 255);
}

/* item */
.items{
    display: inline-block;
    width: 100%;
    padding: 0 70px 50px;
    background: url('../images/manda_f_bg.webp') no-repeat center;
    background-color: #341405;
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 0;
}
.items > div + div{
    padding-left: 20px;
}
.items .item
/* .items .item2 */
{
    font-size: 16px;
    display: inline-block;
    width: 50%;
    height: 150px;
    background-color: transparent;
    transition: all .5s ease;
}
.items .col2_left{
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.items .col2_left img{
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 5px 0 0 5px;
    transition: all .5s ease;
}
.items .col2_right{
    position: relative;
    float: right;
    width: 50%;
    /* height: 150px; */
    overflow: hidden;
}
.col2_right .top_contain{
    height: 8px;
    width: 100%;
}
.col2_right .top_contain:before{
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    border-bottom: 8px solid rgba(26,26,26,0.9);
    border-right: 8px solid transparent;
}
.col2_right .top_contain:after{
    content: '';
    position: absolute;
    right: 0;
    width: 20%;
    border-left: 8px solid transparent;
    border-bottom: 8px solid rgba(26,26,26,0.9);
    border-radius: 0 5px 0 0;
}
.col2_right .content_contain{
    height: 134px;
    display: inline-block;
    background-color: rgba(26,26,26,0.9);
    border-radius: 0 0 5px 0;
    text-align: left;
    padding: 25px 15px 0;
}
/* .col2_right .content_contain p{
    white-space: nowrap;
    font-size: 18px;
    overflow: hidden;
    width: 50%;
    text-overflow: ellipsis;
} */
.col2_right .bottom_contain{
    height: 8px;
}
.col2_right .bottom_contain:before{
    content: '';
    position: absolute;
    left: 0;
    width: 70%;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(26,26,26,0.9);
}
.neon{
    position: absolute;
    width: 15px;
    height: 3px;
    top: 20px;
    left: 20px;
    background: #505050;
    border-radius: 5px;
    transition: all .5s ease;
}
.neon:after{
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    left: 20px;
    background: #505050;
    border-radius: 5px;
    transition: all .5s ease;
}
.item:hover .col2_left img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s ease;
}
.item:hover .neon,
.item:hover .neon:after,
.item2:hover .neon,
.item2:hover .neon:after,
.item3:hover .neon,
.item3:hover .neon:after{
    background: #ffffff;
    box-shadow: 0 0 6px 1px white;
    transition: all .5s ease;
}

/* latest */
.lastest_thing{
    /* border: 1px solid blue; */
    margin-top: 50px;
    padding: 0 15%;
}
#adv.lastest_thing {
    margin-bottom: 50px;
}
.lastest_thing h1{
    font-size: 35px;
    padding: 20px 0;
}
.item2{
    /* border: 1px solid gold; */
    height: 300px;
}
.item2.none {
    opacity: 0;
}
.row1_top{
    width: 100%;
    position: relative;
}
.row1_top img{
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.row1_btm{
    position: relative;
    width: 100%;
    overflow: hidden;
}
/* .row1_btm .content_contain{
    background-color: rgba(48, 47, 47, 0.918);
    width: 100%;
}
.row1_btm .bottom_contain:before {
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(48, 47, 47, 0.918);
} */
.row1_btm .content_contain{
    height: 174px;
    width: 100%;
    display: inline-block;
    background-color: rgba(48, 47, 47, 0.918);
    border-radius: 0 0 5px 0;
    text-align: left;
    padding: 35px 30px 0;
    font-size: 18px;
}
.row1_btm .bottom_contain{
    height: 8px;
    background: black;
}
.row1_btm .bottom_contain:before{
    content: '';
    position: absolute;
    left: 0;
    width: 70%;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(48, 47, 47, 0.918);
}

.item2 .neon, .item3 .neon{
    position: absolute;
    width: 15px;
    height: 3px;
    top: 20px;
    left: 30px;
    background: #505050;
    border-radius: 5px;
    transition: all .5s ease;
}

.latest_slide {position: relative;}

.latest_slide1, .latest_slide2, .latest_slide3, .latest_slide4{
    display: inline-block;
    /* border: 1px solid red; */
    width: 100%;/*latest_slide2가 안맞아서 추가*/
}

.latest_slide1 > div,
.latest_slide2 > div,
.latest_slide3 > div,
.latest_slide4 > div{
    display: inline-block;
}
.latest_slide1 .item2:nth-child(1){
    width: 46%;
    height: 100%;
}
.latest_slide1 .item2:nth-child(2),
.latest_slide1 .item2:nth-child(3){
    width: 26%;
    height: 100%;
}
.latest_slide2 .item2,
.latest_slide3 .item2,
.latest_slide4 .item2{
    width: 24%;
    height: 100%;
} 

.latest_slide button {
    background: url('../images/square_arrow.svg') no-repeat center center;
    background-size: 10px;
    width: 35px;
    height: 35px;
    z-index: 10;
    position: absolute;
    top: 42%;
    background-color: rgba(62, 62, 62, 0.4);
    border-radius: 2px;
    border: none;
    font-size: 0;
    transition: all 0.3s ease;
}

.latest_slide button.slick-prev:hover,
.latest_slide button.slick-next:hover{
    background-color: rgba(62, 62, 62, 0.6);
    transition: all 0.3s ease;
}

.latest_slide button.slick-prev {
    left: -15px;
}

.latest_slide button.slick-next {
    right: 10px;
    transform: scale(-1, 1) translate(-50%);
}

.latest_video_slide .item3{
    width: 49.5%;
    display: inline-block;
}
.latest_video_slide > .item3{
    padding-right: 8px;
}
.latest_video_slide .row1_top{
    height: 235px;
}

.youtube_btn{
    cursor: pointer;
    position: absolute;
    top: 38%;
    left: 43%;
}

.youtube_btn .playBtn{
    border-color: transparent;
    background: url(https://static-mh.content.disney.io/starwars/assets/video/videoplayer_skin/play-icon-87b2f7072129.svg) center no-repeat;
    background-size: 20px 22px;
    border-radius: 20px 4px 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(213,0,14, 0.5);
    padding: 0;
    width: 72px;
    height: 72px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.youtube_btn:hover .playBtn {
    background-color: rgba(213,0,14, 0.7);
    transition: all 0.3s ease;
}

.adv_slide .item4{
    width: 32.9%;
    display: inline-block;
}

.adv_slide .item4 > img {
    width: 100%;
    border-radius: 1.5%;
}

#adv button.slick-next {right: 0;}

/* footer */
footer{
    position: relative; width: 100%; min-height: 272px; margin: 0 auto;
    background-color: black;
    background-image: url('../images/vader_2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center; color: #cccccc; font-size: 0.875rem; font-weight: 600;
}
#social_list{padding-top: 20px; }
#social_list p { margin: 64px 0 22px}
#help{ margin-top: 32px; margin-bottom: 12px; font-weight: 400; letter-spacing: 0.5px;}
#help p#copyright{padding: 10px 0;}
#help ul#legal{ font-size: 0; padding: 10px;}
#help ul#legal > li{ display: inline-block; font-size: 15px; line-height: 20px; border-right: 1px solid #cccccc; padding: 0 20px;}
#help ul#legal > li:last-child{ border: none;}




/* 미디어쿼리 */
@media screen and (min-width:950px) and (max-width: 1020px){
    ul#section_links > li {
        font-size: 16px;
        width: auto;
        display: inline-block;
        line-height: 45px;
        padding: 4px 27px;
    }
}