@charset "utf-8";
/* CSS Document */


/* PC용 CSS */
@media screen and (min-width: 851px) {
    ul.movie-list {text-align: center;}
    ul.movie-list li {width: 200px; height: 200px; background: #eeeeee; display: inline-block; margin-bottom: 20px; box-sizing: border-box; padding: 10px; position: relative;}
    ul.movie-list li p.poster {height: 140px; background: pink;}
    ul.movie-list li p.star {position: absolute; left: 0; bottom: 10px; width: 100%; text-align: center; font-size: 30px;}
    ul.movie-list li p.star a {position: relative;}
    ul.movie-list li p.star a:after {content: '★'; color: #ffcc00; position: absolute; left: 0; top: 0; width: 0; overflow: hidden;}
    ul.movie-list li p.star a.half:after {width: 50%;}
    ul.movie-list li p.star a.full:after {width: 100%;}
}


/* mobile용 CSS */
@media screen and (max-width: 850px) {
    ul.movie-list {text-align: center;}
    ul.movie-list li {width: 200px; height: 200px; background: #eeeeee; display: inline-block; margin-bottom: 20px; box-sizing: border-box; padding: 10px; position: relative;}
    ul.movie-list li p.poster {height: 140px; background: pink;}
    ul.movie-list li p.star {position: absolute; left: 0; bottom: 10px; width: 100%; text-align: center; font-size: 30px;}
    ul.movie-list li p.star a {position: relative;}
    ul.movie-list li p.star a:after {content: '★'; color: #ffcc00; position: absolute; left: 0; top: 0; width: 0; overflow: hidden;}
    ul.movie-list li p.star a.half:after {width: 50%;}
    ul.movie-list li p.star a.full:after {width: 100%;}
}