@charset 'utf-8';


/* PC용 CSS */
@media screen and (min-width: 851px) {    
    div.image-slide {position: relative; margin: 0 auto; max-width: 940px; margin-bottom: 30px;}
    div.image-slide div.box {position: relative; overflow: hidden;}
    div.image-slide div.box img {width: 100%;}
    div.image-slide p.dummy {opacity: 0;}
    div.image-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    div.image-slide ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
    div.image-slide ul.slide li:first-child {display: block;}
    div.image-slide ul.slide li > a {display: block;}
    div.image-slide ul.indicator {position: absolute; left: 0; bottom: 15px; width: 100%; text-align: center;}
    div.image-slide ul.indicator li {display: inline-block;}
    div.image-slide ul.indicator li + li {margin-left: 5px;}
    div.image-slide ul.indicator li a {display: block; width: 10px; height: 10px; border: 2px solid #ffffff; border-radius: 20px; overflow: hidden; text-indent: -999px; transition: width 0.3s;}
    div.image-slide ul.indicator li.on a {background: #ffffff; width: 30px;}
    div.image-slide p.control a.prev,
    div.image-slide p.control a.next {position: absolute; top: 50%; transform: translate(0, -50%);}
    div.image-slide p.control a.prev {left: -60px;}
    div.image-slide p.control a.next {right: -60px;}
    div.image-slide p.control a.play {position: absolute; right: 20px; bottom: 15px; color: #ffffff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); font-size: 18px;}
    div.image-slide p.control a.play i.fa-pause {display: none;}
    div.image-slide p.control a.play i.fa-play {display: inline-block;}
    div.image-slide p.control a.play.on i.fa-pause {display: inline-block;}
    div.image-slide p.control a.play.on i.fa-play {display: none;}
    div.image-slide p.control a img {position: relative;}
    div.image-slide p.control a i {position: relative;}
    
    @media screen and (max-width: 1100px) {
        div.image-slide p.control a.prev {left: 10px;}
        div.image-slide p.control a.next {right: 10px;}
    }
}


/* mobile용 CSS */
@media screen and (max-width: 850px) {
    div.image-slide {position: relative; margin-bottom: 30px;}
    div.image-slide > div.box {position: relative; overflow: hidden;}
    div.image-slide > div.box img {width: 100%;}
    div.image-slide p.dummy {opacity: 0;}
    div.image-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    div.image-slide ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
    div.image-slide ul.slide li:first-child {display: block;}
    div.image-slide ul.slide li > a {display: block;}
    div.image-slide ul.indicator {position: absolute; left: 0; bottom: 5px; width: 100%; text-align: center;}
    div.image-slide ul.indicator li {display: inline-block;}
    div.image-slide ul.indicator li + li {margin-left: 5px;}
    div.image-slide ul.indicator li a {display: block; width: 10px; height: 10px; border: 1px solid #ffffff; border-radius: 20px; overflow: hidden; text-indent: -999px; transition: width 0.3s;}
    div.image-slide ul.indicator li.on a {background: #ffffff; width: 30px;}
    div.image-slide p.control a.prev,
    div.image-slide p.control a.next {position: absolute; top: 50%; transform: translate(0, -50%);}
    div.image-slide p.control a.prev {left: 10px;}
    div.image-slide p.control a.next {right: 10px;}
    div.image-slide p.control a.play {position: absolute; right: 10px; bottom: 10px; color: #ffffff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); font-size: 14px;}
    div.image-slide p.control a.play i.fa-pause {display: none;}
    div.image-slide p.control a.play i.fa-play {display: inline-block;}
    div.image-slide p.control a.play.on i.fa-pause {display: inline-block;}
    div.image-slide p.control a.play.on i.fa-play {display: none;}
    div.image-slide p.control a img {position: relative; width: 30px;}
    div.image-slide p.control a i {position: relative;}
}

/* 공통 CSS3 효과 */
div.image-slide ul.slide li.show {display: block;}
div.image-slide ul.slide li.hide {display: none;}
div.image-slide ul.slide li.fade-in {display: block; animation: slide-fade-in 2s ease-out 0s 1 normal forwards;}
div.image-slide ul.slide li.fade-out {display: block; animation: slide-fade-out 2s ease-out 0s 1 normal forwards;}

/* animation */
@keyframes slide-fade-in {
    0% {opacity: 0; transform: rotate(3deg) scale(1.2);}
    100% {opacity: 1; transform: rotate(0) scale(1);}
}
@keyframes slide-fade-out {
    0% {opacity: 1; transform: rotate(0) scale(1);}
    100% {opacity: 0; transform: rotate(-3deg) scale(1.2);}
}



/*
animation 축약 표현
animation: main-bg-animation 3s ease-out 0.1s 1 normal forwards running;
animation: name duration timing-function delay iteration-count direction fill-mode play-state
duration: 0(default), time, initial, inherit
timing-function: ease(default), linear, ease-in, ease-out, ease-in-out, step-start, step-end, steps(int, start|end), cubic-bezier(n, n, n, n), initial, inherit
deley: 0s(default), time, initial, inherit
direction: normal(default), reverse, alternate, alternate-reverse, initial, inherit
iteration-count: 1(default), number, infinite, initial, inherit
fill-mode: none(default), forwards, backwards, both, initial, inherit
play-state: running(default), paused, initial, inherit  (IE에서는 축약표현에 포함시 동작하지 않음, 별도로 사용)

[최종 사용 예시]
animation: main-bg-animation 3s ease-out 0s 1 normal forwards;
animation-play-state: running;
*/


