@charset 'utf-8';


/* PC용 CSS */
@media screen and (min-width: 851px) {    
    div.mobile-swipe {position: relative; overflow: hidden; max-width: 800px; margin: 0 auto;}
    div.mobile-swipe p.dummy {opacity: 0;}
    div.mobile-swipe ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    div.mobile-swipe ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
    div.mobile-swipe ul.slide li:first-child {display: block;}
    div.mobile-swipe ul.slide li a {display: block;}
    div.mobile-swipe ul.slide li a img {width: 100%; display: block;}
    div.mobile-swipe ul.indicator {position: absolute; left: 0; bottom: 0; height: 50px; padding-top: 16px; width: 100%; text-align: center; box-sizing: border-box;}
    div.mobile-swipe ul.indicator li {display: inline-block; vertical-align: top; margin: 0 3px;}
    div.mobile-swipe ul.indicator li a {display: block; width: 16px; height: 16px; text-indent: -999px; overflow: hidden; background: #ffffff; border: 1px solid #e0e0e0; border-radius: 50%;}
    div.mobile-swipe ul.indicator li.on a {background: #ffa9b0;}
    div.mobile-swipe p.control a {transition: background 0.3s;}
    div.mobile-swipe p.control a.prev,
    div.mobile-swipe p.control a.next {position: absolute; top: 50%; transform: translate(0, -50%); width: 30px; padding: 10px 3px; border-radius: 3px;}
    div.mobile-swipe p.control a.prev {left: 5px;}
    div.mobile-swipe p.control a.next {right: 5px;}
    div.mobile-swipe p.control a.play {position: absolute; right: 5px; bottom: 5px; color: #ffffff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); font-size: 16px; width: 30px; line-height: 30px; text-align: center; border-radius: 3px;}
    div.mobile-swipe p.control a.play:hover {background: rgba(0, 0, 0, 0.2);}
    div.mobile-swipe p.control a.play i:first-child {display: none;}
    div.mobile-swipe p.control a.play i:last-child {display: inline-block;}
    div.mobile-swipe p.control a.play.on i:first-child {display: inline-block;}
    div.mobile-swipe p.control a.play.on i:last-child {display: none;}
    div.mobile-swipe p.control a img {position: relative;}
    div.mobile-swipe p.control span.bar {background: #ffa9b0; position: absolute; left: 0; bottom: 0; height: 1px; width: 0;}
}


/* mobile용 CSS */
@media screen and (max-width: 850px) {
    div.mobile-swipe {position: relative; overflow: hidden;}
    div.mobile-swipe p.dummy {opacity: 0;}
    div.mobile-swipe ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    div.mobile-swipe ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
    div.mobile-swipe ul.slide li:first-child {display: block;}
    div.mobile-swipe ul.slide li a {display: block;}
    div.mobile-swipe ul.slide li a img {width: 100%; display: block;}
    div.mobile-swipe ul.indicator {position: absolute; left: 0; bottom: 0; height: 50px; padding-top: 16px; width: 100%; text-align: center; box-sizing: border-box;}
    div.mobile-swipe ul.indicator li {display: inline-block; vertical-align: top; margin: 0 3px;}
    div.mobile-swipe ul.indicator li a {display: block; width: 16px; height: 16px; text-indent: -999px; overflow: hidden; background: #ffffff; border: 1px solid #e0e0e0; border-radius: 50%;}
    div.mobile-swipe ul.indicator li.on a {background: #ffa9b0;}
    div.mobile-swipe p.control a {transition: background 0.3s;}
    div.mobile-swipe p.control a.prev,
    div.mobile-swipe p.control a.next {position: absolute; top: 50%; transform: translate(0, -50%); width: 30px; padding: 10px 3px; border-radius: 3px;}
    div.mobile-swipe p.control a.prev {left: 5px;}
    div.mobile-swipe p.control a.next {right: 5px;}
    div.mobile-swipe p.control a.play {position: absolute; right: 5px; bottom: 5px; color: #ffffff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); font-size: 16px; width: 30px; line-height: 30px; text-align: center; border-radius: 3px;}
    div.mobile-swipe p.control a.play:hover {background: rgba(0, 0, 0, 0.2);}
    div.mobile-swipe p.control a.play i:first-child {display: none;}
    div.mobile-swipe p.control a.play i:last-child {display: inline-block;}
    div.mobile-swipe p.control a.play.on i:first-child {display: inline-block;}
    div.mobile-swipe p.control a.play.on i:last-child {display: none;}
    div.mobile-swipe p.control a img {position: relative;}
    div.mobile-swipe p.control span.bar {background: #ffa9b0; position: absolute; left: 0; bottom: 0; height: 1px; width: 0;}
}
