@charset 'utf-8';
/* CSS Document */

/* reset (mobile) */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.pc {display: none !important;}
.hidden {position: absolute; left: -9999px;}
br.only-pc {content: '';}
br.only-pc:after {content: '\00a0';}


/* common */
body {font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #333333; background: #f9f9f9;}
#wrapper {min-width: 800px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -41px; width: 100%; line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; background: rgba(0, 0, 0, 0.6); border-bottom: 1px solid #ffffff; z-index: 100000; transition: top 0.3s;}
#skip-nav:focus {top: 0;}
#go-home {position: fixed; right: 20px; bottom: 20px; width: 60px; height: 60px; font-size: 24px; text-align: center; line-height: 56px; border-radius: 100px; color: #ffffff; background: #ffcc00; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); z-index: 10000;}

#header {position: fixed; left: 0; top: 0; width: 100%; height: 60px; background: rgba(0, 0, 0, 0.3); z-index: 10000;}
#header h1 {position: absolute; left: 50px; top: 50%; transform: translate(0, -50%);}
#header h1 img {width: 160px;}

#main {max-width: 1200px; min-height: calc(100vh - 30px); margin: 0 auto; background: #ffffff; padding: 100px 30px; box-sizing: border-box;}
#main > section + section {margin-top: 50px;}
#main > section h2 {font-size: 24px; margin-bottom: 20px;}

#footer {background: rgba(0, 0, 0, 0.5);}
#footer p.copyright {line-height: 30px; text-align: center; font-size: 13px; color: #ffffff;}






/* module */
section.desc > ul {border: 2px solid #e0e0e0; border-radius: 10px; padding: 20px; font-size: 16px;}
section.desc > ul > li {position: relative; padding-left: 20px;}
section.desc > ul > li:before {content: ''; position: absolute; left: 0; top: 8px; width: 6px; height: 6px; border: 2px solid #e0e0e0; border-radius: 20px;}
section.desc > ul > li + li {margin-top: 10px;}
section.desc > ul > li > ul {margin-top: 5px;}
section.desc > ul > li > ul > li {position: relative; padding-left: 15px; font-size: 14px;}
section.desc > ul > li > ul > li:before {content: ''; position: absolute; left: 0; top: 8px; width: 6px; height: 6px; border-radius: 20px; background: #e0e0e0;}
section.desc > ul > li > ul > li + li {margin-top: 2px;}


