
.footer_wrap{
    max-width: 1600px;
    margin: 0 auto;
    padding: 74px 0 70px;
    text-align: center;
    position: relative;
    font-size: 14px;
}
.footer_logo{
    position: absolute;
    top:76px;
    left: 30px;
    width: 63px;
    height: 13px;
    background: url('../img/footer_logo.png') no-repeat center;
    -webkit-background-size: 63px 13px;
    background-size: 63px 13px;
}

.footer_menu {
   position: absolute;
   left: 105px;
   top: 74px;
   font-size: 0;
}
.footer_menu > li{
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    position: relative; /*41라인의 위치.*/
}
.footer_menu a{
    color: #878890;
}
.footer_menu > li:before{
    content:'';
    position: absolute;
    top: 3px;
    left: -10px;
    width: 1px;
    height: 12px;
    background-color: #f8f9fa;
}
.footer_menu > li:first-child:before{
    display: none;
}
.affiliate_box{
    position: absolute;
    right: 30px;
    top: 74px;
    padding-right: 15px;
}
.btn_affiliate{
	padding:0 10px;
    /* position: relative; */
    background-color: transparent;
    border: none;
}
.affiliate_box .btn_affiliate:before{
    content:'';
    position: absolute;
    right:0;
    top:0;
    width: 16px;
    height: 16px;
    background: url('../img/sprite.png') no-repeat;
    background-size:474px 1250px;
    -webkit-background-size:474px 1250px;
    background-position: -222px -26px;
}

ul.affiliate_list{
    display: none; /*평소에는 안보여용*/
    position: absolute;
    left: -76px;
    bottom: 0;
    width: 200px;
    padding: 27px 0 25px;
    text-align: left;
    border: 1px solid rgb(203, 203, 203);
    background-color: #fff;
}
.affiliate_item{
    margin: 13px 0;
}
.affiliate_item:first-child{
    margin-top: 0;
}
.affiliate_item > a{
    display: block;
    padding: 0 24px;
    width: 100%;
    color:  #878890;
}
.affiliate_item > a span{
    position: relative;
    /* border: 1px solid red; */
}
.affiliate_item > a span:before{
    display: none; /*평소에는 안보여용*/
    content:'';
    position: absolute;
    right: -25px;
    top: -3px;
    width: 18px;
    height: 18px;
    /* border: 1px solid red; */
    background: url('../img/sprite.png') no-repeat;
    background-size:474px 1250px;
    -webkit-background-size:474px 1250px;
    background-position: -104px -68px;
}

/*hover focus*/
.affiliate_item > a:hover,
.affiliate_item > a:focus{
    color: #00b843;
} /*자회사 바로가기를 감싸는 어필리에이트박스에 호버*/
.affiliate_box:hover .affiliate_list{
    display: block;
}
.affiliate_item > a:hover span:before,
.affiliate_item > a:focus span:before{
    display: block;
}