*{padding: 0;margin: 0;box-sizing: border-box;}
a{color: black;}
img{max-width: 100%;max-height: 100%;}
body{
    background-color: #fff;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -.5px;
    font-family: "Source Code Pro","Courier New",Dotum,"돋움",Helvetica,Arial,Verdana,Tahoma,sans-serif;
}
.news_1{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 16;
}
.news_1 p{
    height: 18px;
    font-size: 12px;
}
.add_title{
    text-align: center;
    color: white;
    background-color: #000;  
    padding: 12px 0;
}
#close_news{
    position: absolute;
    top: 15px;
    right: 10px;
    float: right;
    margin-right: 10px;
    height: 15px;
    z-index: 99999;
}
.header_content{
    width: 100%;
    background-color: #fff;
}
/* 칼하트 로고 이미지 */
.txt_logo_carhartt{
    width: 100%;
    position: fixed;
    right: 0;
}
.txt_logo_carhartt a{
    display: block;
    z-index: 9999;
    /* border: 1px solid red;  */
}
.txt_logo_carhartt img{
    display: block;
    margin: 0 auto;
    padding: 20px;
}
/* 메뉴 영역 
왼쪽 오른쪽 메뉴들 구분하기 위해서 색상 넣음
지워도 됨.*/
.menu_area{
    /* background-color: rgba(523,234,52,0.3); */
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

/* 메인 메뉴 (토글 / 라디오 버튼 : 왼쪽 고정) */
.menu{
    float: left;
    width: 120px;
    position: absolute;
    top: 25px;
    left: 30px;
    /* background-color: blue; */
}
.radio_btn::before{
    content: "|";
    font-weight: 500;
    font-size: 30px;
    padding-right: 10px;
    display: block;
    position: absolute;
    bottom: -14px;
}
.radio_btn{
    position: absolute;
    left: 40px;
    width: 100px;
}
.radio_btn img{
    padding-left: 30px;
}

/* 서브 메뉴 (오른쪽 고정) */
.sub_menu{
    position: relative;
    right: 20px;
    float: right;
    padding: 15px 0; 
    width: 270px;
}
ul.sub_ctr_menu{
    text-align: center;
    line-height: 10px; 
    font-size: 0;
}
.sub_ctr_menu li{
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}
.sub_ctr_menu > li:after{
    display: inline-block;
    content: '';
    background: url("../carhartt_images/bu_dot02.gif") no-repeat center center;
    background-position: 4px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
}
.sub_ctr_menu > li:nth-child(4):after{
    display: none;
}

/*********헤더 오른쪽메뉴**********/

/* .sub_ctr_menu.open{
    border: 3px solid black;
} */
/* .sbox{
    border: 1px solid black;
    width:200px;
    height: auto;
} */

    /* 밑에 추가되는 유틸리티 영역 공통부분. */
    .util_add{
        border: 1px solid black;
        display: block;
        position: absolute;
        top: 0px; /*70px만큼 줬을 때 메뉴바랑 떨어지게 되니까 일부러 0 주고 패딩값 줌*/
        right: 0px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 70px; 
        /* background-color: thistle; */
        z-index: -100;
    }

    /* search 영역 */
    .drop_sub_menu{
        text-align: center;
        height: 130px;
        line-height: 130px;
    }
    .drop_sub_menu input{
        padding: 10px;
        width: 90%;
    }

    /* help 영역 */
    .util_help_info{
        padding:20px;
    }
    .util_help_info dt{
        display: block;
        width: 50%;
        float: left;
        text-align: left;
        color: grey;
    }
    .util_help_info dd{
        text-align: right;
    }
    .util_help_info span:before{
        content:'';
        background: url('../carhartt_images/bu_dot01.gif') left center no-repeat;
        padding-right: 8px;
    }
    .util_help_info dt, .util_help_info dd{
        display: block;
        padding: 3px;
        border-top: 1px solid rgba(82, 82, 82, 0.3);
    }
    .util_help_info dd:last-child{
        border-bottom: 1px solid rgba(82, 82, 82, 0.3);
    }
    .help_more span{
        display: inline-block;
        padding: 10px;
        font-weight: 600;
    }
    .help_more span:after{
        content: '';
        background: url('../carhartt_images/bu_arrow.png') right center no-repeat;
        padding-left: 10px;
    }

    /* log-in 영역 */
        /*공통부분*/
    .add_content{
        height: auto;
        padding: 0 5%;
    }
        /*1) login_menu_area*/
        .login_menu_area{
            width:  100%;
        }
        .login_menu{
            width: 100%;
        }
        .input_txt{
            display: block;
            margin: 0 auto;
            padding: 10px 0;
        }
        .input_txt input{
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 2px solid #f0f0f0; 
            width: 100%;
        }
        .black_btn {
            display: block;
            color: white;
            background-color: black;
            padding: 8px 0;
            margin-top: 3px;
        }
        .find_all_btn li{
            margin: 10px 0px;
            padding: 0px;
        }
        .find_all_btn li:after{
            content: '';
            background: url('../carhartt_images/bu_dot01.gif') right center no-repeat;
            padding-left: 10px;
        }
        .find_all_btn li:nth-child(3):after{
            display: none;
        }
        .order_check{
            display: block;
            margin: 20px 0;
        }
        .order_check span:after{
            content: '';
            background: url('../carhartt_images/bu_arrow.png') right center no-repeat;
            padding-left: 10px;
        }

        /*2) find_id_area 3) change_pw_area*/
        .find_id_area, .change_pw_area{
            padding-bottom: 20px;
            padding-bottom: 20px;
        }
        .find_id_area p, .change_pw_area p{
            font-weight: 700;
            padding: 15px 0;
            display: block;
            /* border: 1px solid red; */
        }
        .phone_array{
            width:100%;
        }
        .input_phone_number{
            width: 100%; 
        }
        .input_phone_number span{
            width: 22.5%;
            display: inline-block;
        }
        .input_txt{
            padding: 8px;
            margin-top: 3px;
            border: none;
        }
        .gray_btn{
            color: white;
            background-color: gray;
            border: 1px solid gray;
            padding: 11px;
        }
        /* cart */
        .cart_slider_area{
            height: 500px;
            padding: 0 15%;
            display: block;
        }
        .user_cart{
            height: 400px;
        }
        .cart_txt{
            width: 100%;
        }
        .cart_txt .txt{
            display: block;
            float:left;
            width: 50%;
            text-align: left;
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        .cart_txt .ico_price{
            display: block;
            float:right;    
            width: 50%;
            text-align: right;
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
            margin-bottom: 10px;    
        }
        .ico_price:before{
            content:'';
            background: url('../carhartt_images/ico_price.png') center center no-repeat;    
            padding-left: 20px;
        }
        .buy_btn{
            clear:both; 
            border-top: 1px solid gray;
            background-color: black;
        }
        .buy_btn a{
            display: block;
            width: 100%;
            color: white;      
        }


    


/*********본문 내용 시작**********/


/* 왼쪽 전체 메뉴 고정 (해더에 포함되지 않음)
1. 컨테이너랩에서 위치조절
2. li에 퍼센트로 마진 패딩 등 값을 주면 화면 조절할 때 움직이게됨.(주의)*/
.container{
    padding-bottom: 250px;
}
.content_wrap{
    clear: both;
    position: relative;
    padding: 0 240px;
    margin-top: 120px;
    /* background-color: rgba(245, 192, 201, 0.502); */
}
.all_menu_section{
    position: absolute;
    top: 0;
    left: 40px;
    width: 200px;
    font-size: 12px;
}
.snb_fixed{
    position: fixed;
}
/*main*/
.main{
    display: block;
    margin: 0 auto;
    /* border: 2px solid olivedrab; */
}
.main section{
    margin: 0 auto;
    max-width: 960px;
    /* border: 1px solid cornflowerblue; */
}
section > div{
    width: 100%;
}
section img{
    width: 100%;
    height: 100%;
}


/*primary1*/
.primary1_desc h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Source Code Pro","Courier New",Dotum,"돋움";
}
.primary1 span.splitTxt{
    font-size: 10px;
    font-family: "Source Code Pro","Courier New",Dotum,"돋움";
}
.primary1_desc p{
    padding-top: 10px;
}



/* primary2 */
.primary2{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    font-size: 0; /*부모요소에 폰트0을 주면 의도치않은 빈 공간이 사라진다.*/
}
.feature{
    width: 33.3%; /*그랬을 경우 33.3퍼를 줘도 잘 맞게 됨ㅎ0ㅎ~~*/
    display:inline-block;
    vertical-align: top;
    
    padding-top: 30px;
}
.primary2 .img1, .img2{
    padding-right: 3px;
}
.primary2 .img2, .img3{
    padding-left: 5px;
}
.feature p{
    text-align: left;
}
.f-desc{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.2;
    text-align: left;
    font-family: "Source Code Pro","Courier New",Dotum,"돋움",Helvetica,Arial,Verdana,Tahoma,sans-serif; 
}

/*primary3*/
.primary3{
    overflow: hidden;
    padding: 40px 0;
    width: 100%;
}
.shop img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.shop p{
    color: rgb(196, 195, 195);
    border: 1px solid  rgb(196, 195, 195);
    padding: 8px 60px;
    font-size: 20px;
    z-index: 600;
}
.shop.men{
    width: 66%;
    float: left;
    position: relative;
}
.shop_mbtn{
    position: absolute;
    bottom: 50px;
    left: 35%;
}
.shop.women{
    width: 32%;
    float:right;
    position: relative;
}
.shop_wbtn{
    position: absolute;
    bottom: 50px;
    right: 30px;
}



/*primary4*/
.primary4{
    clear: both;
    display: block;
    padding-top: 40px;
    /* font-family: "Source Code Pro","Courier New",Dotum,"돋움",Helvetica,Arial,Verdana,Tahoma,sans-serif; */
}
.primary4 h2{
    font-weight: bold;
    font-size: 24px;
}
.primary4 h4{
    font-weight: bold;
    font-size: 18px;
}
.leftValue{
    width: 50%;
    float:left;
}
.rightValue{
    width: 50%;
    float:left;
}
.rightValue > a{
    width: 50%;
    padding-left: 10px;
    float: left;
}
.imgBox.hd_3, .imgBox.ag_1{
    padding-top: 30px;
}

.primary4:after{
    content:'';
    display: block;
    clear:both;
} 
.content_wrap:after{
    content:'';
    display: block;
    clear:both;
} 
/* ~:after 이 부분이 정말 중요함! 
이거 안해주면 컨텐트랩이 전체 영역들을 감싸주지 않음.
근데, .content_wrap:after 이것만 해주면 primary4를 감싸주지 않음
float는 primary3, primary4 두 영역에 하위 div에 다 먹였는데 
왜 primary3만 감싸주고 primary4는 감싸주지를 않지?
그래서 primary4도 가상상속자 적용시킴*/









/*********푸터*********/


/* footer */
footer{
    width: 100%;
}
.footer_content{
    background-color: white;
    position: relative;
    clear: both;
    text-align: left;
    z-index: 20;
}
.footer_menu{
    padding: 40px 40px 31px;
    line-height: 1.5;
    height: 140px; 
    font-size: 12px;
}
.f_right_menu{
    float: right;
}
.f_left_menu{
    float: left;
}
.footer_copyright{
    clear: both;
    width: 100%;
    background-color: black;
    color: #727272e2;
    padding: 10px 40px;
    display: inline-block;
    position: relative;
    font-size: 12px;
}
.footer_copyright li{
    vertical-align: top;
}
.c_txt01{
    position: absolute;
    top: 11px;
    left: 40px;
}
.c_txt02{
    text-align: center;
    margin: 0 auto;
    padding: 0 230px;
}
.c_txt03{
    position: absolute;
    top: 11px;
    right: 40px;
}
#escrowPop{
    color: #727272e2;
}

/* 화면 조절했을 때 위치가 아예 고정이 되려면
%를 쓰기보단 위치값을 지정해줘야 원하는대로 배치됨. */
.a{
    transition: 0.3s;
}
.a:hover{
    color: rgb(196, 195, 195);
}


/*서브메뉴 토글*/
.util_add{
    display: none;
    position: absolute;
    top: 10px;
    background-color: white;
}
.sub_menu .sub_ctr_menu > li:hover .util_add,
.sub_menu .sub_ctr_menu > li:focus .util_add{
    display: block;
}
/*오예~*/