*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* .snb_fixed{
    position: fixed;
}
index.css 파일 329라인에 있음 */

/**snb_menu_section**/
.snb_shop_box{
    padding-bottom: 50px;
}
.snb_shop_box h2{
    padding-top: 0px;
    font-size: 28px;
}
.snb_shop_box ul li{
    display: inline;
    padding-right: 10px;
}
.snb_shop_box .season_year{
    font-weight: 700;
    border-bottom: 1px solid black;
}

.shop_menu{
    padding-bottom: 50px;
}
.shop_menu li{
    padding: 2px 0;
}
.shop_menu .ico_arrow{
    background: url('../carhartt_shop_images/ico_selectbox02.png') center center no-repeat;
    padding:0 0 0 15px;
}

.shop_collabo a{
    color:gray;
}


/**etc_menu_section**/
.etc_menu_section{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    text-align: right;
    font-size: 12px;
}
.current_page, .viewtype_btn{
    margin-bottom: 25px;
}
.viewtype_btn a:last-child{
    font-weight: 700;
    border-bottom: 1px solid #000;
}
.filter_area{
    padding: 0 15px 0 0;
    background: url('../carhartt_shop_images/ico_selectbox02.png') right center no-repeat;
    font-weight: 700;
}


/**product_content**/
.content_wrap{
    width: 100%;
    height: 1500px;
    /* padding: 40px 20% 100px; */
}
.content_section{
    max-width: 980px;
    /* background-color: #b9bc8fa9; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 980px;   
    margin: 0 auto;
}
.product_list{
    width: 100vh;
    margin: 0 auto;
    /*border: 1px solid blue;*/
}
.product_list li{
    width: 20%;
    float: left;
    /*border: 1px solid red;*/
    padding: 0 2px;
    margin-bottom: 20px;
}

.pro_infoBox p{
    text-align: center;
}
.pro_infoBox .name02{
    margin-top: -4px;
}
.pro_infoBox .price{
    font-weight: 700;
}

.pro_imgBox {
    position: relative;
}
.detailed_info{
    position: absolute;
    transition: .3s ease;
    width: 100%;
    height: 100%;
    line-height: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -2222;
}
.pro_imgBox:hover .detailed_info,
.pro_imgBox:focus .detailed_info{
    transition: .3s ease;
    background-color: rgba(255, 255, 255, 0.481);
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 9999;
}
.detailed_info .det_txt{
    text-align: center;
    padding: 60px 0;
}
.detailed_info .det_title{
    margin-bottom: 10px;font-size: 13px;
}

/*content_section*/
.content_section{
    text-align: center;
    /* display: block; */
    /* width: 960px; */
    width: 90%;
    position: relative;
}

.store_loc {
    width: 100%; 
    margin: 0 auto;
}
/*스토어이미지*/
.store_slide{
    width: 960px;
}
.storeimgs{
    display: block;
    /* width: 960px; */
    /* width: 100%; */
    height: 640px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgbox1{background: url('../carhartt_shop_images/shop1.jpg') no-repeat center; }
.imgbox2{background: url('../carhartt_shop_images/shop2.jpg') no-repeat center; }
.imgbox3{background: url('../carhartt_shop_images/shop3.jpg') no-repeat center; }
.imgbox4{background: url('../carhartt_shop_images/shop4.jpg') no-repeat center; }
.imgbox5{background: url('../carhartt_shop_images/shop5.jpg') no-repeat center; }
a.storeimgs.imgbox1, a.storeimgs.imgbox2, a.storeimgs.imgbox3, a.storeimgs.imgbox4, a.storeimgs.imgbox5{
    background-size: contain;
}
.slick-slide{
    width: 90%;
}
.slick-slide.slick-current.slick-active{
    width: 90%;
    height: auto;
}
.slick-slide.slick-cloned{
    width: 90%;
}

.store_desc{
    padding-bottom: 100px;
}
.store_desc h2, span{
    display: block;
}

/* bx-slider수정 */
.bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
    border: 5px solid #fff;
    background: #fff;
}
span.b{
    color: transparent;
 }
 
.bx-wrapper .bx-prev, .bx-wrapper .bx-next{
    position: absolute;
    top: 23%;
}
.bx-wrapper .bx-controls-direction a{
    width: 22px;
    height: 41px;
    z-index: 999999;
}

.bx-wrapper .bx-prev{
    display: block;
    left: 10px;
    background : url('../carhartt_shop_images/btn_radio_prev.png') no-repeat center;
}

.bx-wrapper .bx-next{
    display: block;
    right: 10px;
    background : url('../carhartt_shop_images/btn_radio_next.png') no-repeat center;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
    background-position: 0;
}